{% load static i18n humanize %}
<footer class="py-4 bg-primary text-white-50">
    <div class="container text-center">
        <small>
            <i>"I'm that yeti!"</i>
            <span class="separator"> | </span>
            <span class="card-text"><a href="https://www.linkedin.com/in/matthew-dies/">LinkedIn</a></span>
            <span class="separator"> | </span>
            <span class="card-text"><a href="https://github.com/matthewkdies/">GitHub</a></span>
            <span class="separator"> | </span>
            <span class="card-text"><a href="https://www.instagram.com/matthewkdies/">Instagram</a></span>
        </small>
    </div>
</footer>
