{% load static i18n humanize %}
<footer class="py-4 bg-primary text-white-50" style="font-family: 'helvetica', sans-serif;">
    <div class="container text-center">
        <small>
            <i>"I'm that yeti!"</i>
            <span class="separator"> | </span>
            <span class="card-text"><a href="https://www.linkedin.com/in/matthew-dies/" target="_blank">LinkedIn</a></span>
            <span class="separator"> | </span>
            <span class="card-text"><a href="https://github.com/matthewkdies/" target="_blank">GitHub</a></span>
            <span class="separator"> | </span>
            <span class="card-text"><a href="https://www.instagram.com/matthewkdies/" target="_blank">Instagram</a></span>
        </small>
    </div>
</footer>
