{% extends "base.html" %}
{% load static humanize i18n %}
<title>{% block title %}About{% endblock title %}</title>
{% block content %}
<section class="container py-4" style="font-family: 'helvetica-light', sans-serif;">
	<h1 class="text-center mb-4 text-dark" style="font-family: 'helvetica', sans-serif;">About Me</h1>
	<div class="card mb-3 bg-light">
		<img src="{% static 'images/cole-searching.png' %}" class="mx-auto py-3 img-fluid rounded-circle w-25" alt="...">
		<div class="card-body bg-dark">
			<div class="text-center">
				<span class="card-text"><a href="https://www.linkedin.com/in/matthew-dies/">LinkedIn</a></span>
				<span class="separator"> | </span>
				<span class="card-text"><a href="https://github.com/matthewkdies/">GitHub</a></span>
				<span class="separator"> | </span>
				<span class="card-text"><a href="https://www.instagram.com/matthewkdies/">Instagram</a></span>
			</div>
			<div class="text-center py-2 mt-1">
				<h2 class="card-title">Introduction</h2>
				<p class="card-text">I'm Matt Dies! 👋
					I work as a software engineer at <a href="https://tenet3.com/">Tenet3</a>.
				</p>
				<h2 class="card-title">Professional Background</h2>
				<p class="card-text">
					I've worked at Tenet3 full-time since January of 2021, where I initially started as a data scientist.
					Over time, I ended up doing more tradational "development"-related tasks than working tightly with data, so I eventually transitioned into software engineering.
					I primarily work in DevOps, with quite a bit of experience with Python, Docker, and AWS.
					My personal favorite work accomplishment has been creating the custom development environment for others using devcontainers.
					Due to the nature of the job though, I honestly work in a lot of different areas -- to learn more, just reach out to me!
				</p>
				<h2 class="card-title">Education</h2>
				<p class="card-text">
					<i>Gooooooooooo Dayton Flyers!</i>
				</p>
				<p class="card-text">
					I got my Bachelors of Science in Applied Mathematical Economics from the University of Dayton, where I went from 2017 to 2020.
					While there, I also got two accompanying minors in Finance and Actuarial Science.
					Boy am I glad I did, considering I don't use them at all!
					I went in as an engineering student, which lasted all of 3 months before I switched.
					I also happened to pick up a passive love of mine, which is moral philosophy and existentialism.
					If you'd ever like to hear more about my thoughts on philosophy and what we owe to the world at large, buy me a beer sometime.
				</p>
				<h2 class="card-title">Hobbies and Interests</h2>
				<p class="card-text">
					Well, you're looking at one of them!
					I've been getting into self-hosting and personal programming quite a bit more recently.
					I'll eventually do a write-up on what I'm running on my server and how I'm using it to the max, but that's a later problem.
					But other than running the server, I've also been obviously working on this website!
					This is my first personal experience with web development, and I have to admit that design is not a strength of mine!
					Getting everything up and running is more my speed. 🚀
				</p>
				<p class="card-text">
					Outside of programming, I also play baseball!
					I'm a catcher in the Miami Valley Adult Baseball League, which is really starting to get tough on the knees.
					The hope is to move into the infield (either first or third base) over the coming two years, but we'll see.
					In the two years in which I've played so far, I've been a player in the All-Star Game both years!
					It's great to still be able to play the sport I love most, considering I've played for basically my entire life so far. ⚾️
				</p>
				<p>
					I've been getting really into cooking over the past two years!
					I originally viewed cooking as just means to an end for sustenance, but I've since come to realize that life is short and eating is a significant portion of it.
					As a vegetarian, my cookbook is a lot slimmer than the average American's, and as a result I've had to work hard to accumulate good recipes.
					I use <a href=https://mealie.io/>Mealie</a> to gather, track, and rate recipes as well as create shopping lists automatically, and I really recommend it!
					If you think I'm cool now, just wait until you see me in my apron. 👨🏻‍🍳
				</p>
				<p>
					I also run... occasionally.
					So far I've run the Akron Half Marathon and the Flying Pig Half Marathon, with no current plans to run any more.
					Running is a great way to keep myself in shape, but it's awfully boring.
					I genuinely can't find any way to entertain myself when I'm running for that long.
					But mostly, I run from the demons. 🏃🏻
				</p>
				<p>
					This might not surprise you, but I'm also a huge sports fan!
					I'll be a Flyer for life, so I'm a huge Dayton Flyers basketball fan.
					I will fully believe until I die that if the 2020 March Madness tournament hadn't been cancelled because of COVID, we would've won the title.
					I love the Cleveland Guardians, so I will rave any time the G.O.A.T. José Ramírez.
					But above all else, I live and breathe the Pittsburgh Football Steelers.
					I know I'm out of place in Ohio, but I've been a fan since birth as I blindly followed my dad.
					I'll be forever grateful to him for making me a huge sports fan and for all of the great memories and moments. 🏈
				</p>
				<h2 class="card-title">Cats</h2>
				<p class="card-text">
					If you haven't heard by now, my cats are a huge part of my identity.
					Pouncey was my first cat and she is an absolute princess!
					I adopted her in March of 2022 and named her after Maurkice Pouncey, the longtime Steelers' center who was a personal favorite of mine.
					As she chills next to me while I write this sentence, I'm shocked with how often I feel immense gratitude for her coming into my life.
				</p>
				<p class="card-text">
					I had Pouncey for about 8 months until Scooter came around.
					I was working from home with the window open when I heard a crazy meowing coming from outside.
					As I looked around, I finally spotted him hiding between the outdoor A/C units, trying to keep warm.
					The Cat Distribution System was working well — I only intended to nurse him back to health, but eventually decided he was mine!
					After the vet confirmed he wasn't chipped, they also confirmed that he had fleas, two different types of stomach worms, ear mites, and a parasite called Giardia.
					It took about a month to get him healthy and another month to get him and Pouncey acquainted.
					His personality is entirely different from Pouncey's, which is often leads to serious hijinks.
					Now that they're finally friends, I can never look back! 5️⃣3️⃣➕🛴🟰😻
				</p>
				<figure class="text-center">
					<img src="{% static 'images/kitties.jpeg' %}" class="mx-auto py-3 img-fluid" style="max-width: 80%;" alt="...">
					<figcaption class="caption">Probably my favorite picture of the cats together! Scooter on the left, Pouncey on the right. 💞</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
