{% extends "base.html" %}
{% load static humanize i18n %}
<title>{% block title %}Home{% endblock title %}</title>
{% block content %}
<header class="container mt-4">
	<div class="jumbotron text-center"  style="font-family: 'helvetica-light', sans-serif;">
	<h1 class="display-4" style="font-family: 'helvetica-bold', sans-serif;">Hey there, I'm Matt Dies!</h1>
	<p class="lead">Just an FYI, my last name rhymes with "geese". Don't worry if you mispronounce it, I've heard it all before.</p>
	<p class="lead">I made this website using <a href="https://github.com/cookiecutter/cookiecutter-django"><code>cookiecutter-django</code></a> and a wonderful tutorial from Vicente Reyes <a href="https://learnetto.com/tutorials/creating-a-blog-with-cookiecutter-django-deploying-it-to-heroku">linked here!</a> The general goal is just to act as a blog that I will occasionally update, just in case anyone were to find my life interesting (here's a hint: you won't!). I'll also use the blog to talk about some of the stuff written by other developers that I find really cool, whether it be guides or just cool sites.</p>
	<p class="lead">You'll also be able to find links to some of the stuff I do in my free time, as well as whatever social media accounts I deem worth exposing to the world at large. Probably just LinkedIn 😎. Anyways, enough blabbing... let's get into it!</p>
	<hr class="my-4">
	<p>To learn more about me, check out this sweet button.</p>
	<a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">About Me</a>
	</div>
</header>
<section class="container"  style="font-family: 'helvetica-light', sans-serif;">
	<div class="row row-cols-1 row-cols-md-2">
		{% for post in posts %}
			<div class="col mb-4">
				<div class="card h-100 bg-light">
					<div class="card-body bg-dark">
						<h3 class="card-title text-center">
							<a href="{% url 'blog-detail' post.slug %}">{{ post.title }}</a></h3>
						<p class="card-text text-center p-3">{{ post.overview }}</p>
					</div>
					<div class="card-footer text-center">
						<small class="text-muted">{{ post.created_on }}</small><br />
						{% for category in post.categories.all %}
								<span class="p-2">
									<a href="{% url 'categories' category.slug %}">
										#{{ category.title }}
									</a>
								</span>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
  </div>
</section>
{% endblock content %}
