{% extends "base.html" %}
{% load static humanize i18n %}
<title>{% block title %}Project: {{ project.title }}{% endblock title %}</title>
{% block content %}
<section class="container py-4">
	<h1 class="text-center mb-4 text-dark">
        <b>Project:</b> {{ project.title }}
    </h1>
	<div class="card mb-4 bg-light">
		<img src="{{ project.image.url }}" class="mx-3 py-3 img-fluid mx-auto" style="max-height: 95%; max-width: 95%; width: auto; height: auto;" alt="...">
		<div class="card-body bg-dark">
			{% comment %} <h2 class="card-title text-center">{{ project.title }}</h2> {% endcomment %}
				{% comment %} <span class="card-text">
                    <a href="{{ project.live_site }}">
                        View Site
                    </a>
                </span> {% endcomment %}
			<div class="text-center">
				<h2 class="card-title text-center">
                Details
                </h2>
				<p class="card-text">
                    {{ project.description }}
                </p>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
